################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/crm/.vs/Gym/FileContentIndex/316c963a-2e9a-401a-acac-b05b5bdd49b2.vsidx
